
<div ng-controller="StatsController" ng-if="isPdfExporting" ng-style="{'font-size': pdfGenerator.cfg.font.size}" style="font-family: Arial, Helvetica, sans-serif;" id="pdf-tables">

    <div id="pdf-header" style="min-height: 50px; width: 1600px; font-size: 25px;">
        <div style="border-bottom: 2px solid black; padding-bottom: 2px;">
            <div ng-bind="pdfGenerator.cfg.headerText" style=" line-height: 1.2; white-space: pre-wrap"></div>
        </div>
    </div>

    <div id='pdf-summary' style="width: 1600px;">

        <!-- Summary -->
        <div ng-if="pdfGenerator.cfg.showSummary">
            <div style="width: 40%; float: left;">
                <table>
                    <tbody>
                        <tr>
                            <th style="padding-right:10px; padding-right: 10px; border-right: 1px solid darkgray; text-align: left; line-height: 1.2;">{{ 'NBR_MOSAICS' | translate }}</th>
                            <td style="padding-left:10px;" ng-bind="tiling.mosaics.length"></td>
                        </tr>
                        <!-- <tr>
                            <th style="border-right: 1px solid darkgray; padding-right: 10px; text-align: left; line-height: 1.2;">{{ 'TOTAL_USED_AREA' | translate }}</th>
                            <td style="padding-left:10px;"><span ng-bind="formatArea(tiling.data.totalUsedArea)"></span>&nbsp;<small ng-bind="Math.round(tiling.data.totalUsedAreaRatio * 100) + '%'"></small></td>
                        </tr>
                        <tr>
                            <th style="border-right: 1px solid darkgray; padding-right: 10px; text-align: left; line-height: 1.2;">{{ 'TOTAL_WASTED_AREA' | translate }}</th>
                            <td style="padding-left:10px;"><span ng-bind="formatArea(tiling.data.totalWastedArea)"></span>&nbsp;<small ng-bind="Math.round((1.0 - tiling.data.totalUsedAreaRatio) * 100) + '%'"></small></td>
                        </tr>
                        <tr>
                            <th style="border-right: 1px solid darkgray; padding-right: 10px; text-align: left; line-height: 1.2;">{{ 'TOTAL_CUTS_NBR' | translate }}</th>
                            <td style="padding-left:10px;" ng-bind="tiling.data.totalNbrCuts"></td>
                        </tr>
                        <tr>
                            <th style="border-right: 1px solid darkgray; padding-right: 10px; text-align: left; line-height: 1.2;">{{ 'TOTAL_CUT_LENGTH' | translate }}</th>
                            <td style="padding-left:10px;" ng-bind="dimensionProcessor.formatDimension(tiling.data.totalCutLength)"></td>
                        </tr> -->
                        <tr>
                            <th style="border-right: 1px solid darkgray; padding-right: 10px; text-align: left; line-height: 1.2;">{{ 'CUT_THICKNESS' | translate }}</th>
                            <td style="padding-left:10px;" ng-bind="dimensionProcessor.formatDimension(tiling.data.request.configuration.cutThickness)"></td>
                        </tr>
                        <!-- <tr ng-if="cfg.hasEdgeBanding" ng-repeat="(key, value) in tiling.data.edgeBands">
                            <th style="border-right: 1px solid darkgray; padding-right: 10px; text-align: left; line-height: 1.2;">{{key}}</span></th>
                            <td style="padding-left:10px;" ng-bind="dimensionProcessor.formatDimension(value)"></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>

            <!-- Panels -->
            <div style="width: 60%; float: left;">
                <table>
                    <tbody>
                        <tr>
                            <th style="width: 15%; padding-right:10px; vertical-align: text-top; border-right: 1px solid darkgray; text-align: left; line-height: 1.2;"><span>{{ 'PANELS' | translate }}</span></th>
                            <td style="padding-left:10px; vertical-align: text-top; line-height: 1.2;"><span ng-bind-html="getPanelListHtml() | to_trusted"></span></td>
                        </tr>
                        <tr style="height: 10px">
                            <th style="border-right: 1px solid darkgray"></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th style="padding-right:10px; vertical-align: text-top; border-right: 1px solid darkgray; text-align: left; line-height: 1.2;"><span>{{ 'STOCK' | translate }}</span></th>
                            <td style="padding-left:10px; vertical-align: text-top; line-height: 1.2;"><span ng-bind-html="getStockPanelListHtml() | to_trusted"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br style="clear: left;" />
            <div ng-if="pdfGenerator.cfg.additionalText" style="min-height: 20px"></div>
        </div>

        <!-- Additional text-->
        <div ng-bind="pdfGenerator.cfg.additionalText" style=" line-height: 1.2; white-space: pre-wrap"></div>
        <div style="border-bottom: 2px solid black; margin-top: 14px;"></div>

    </div>

    <!-- Footer -->
    <div id='pdf-footer' style="min-height: 30px; width: 1600px;">
        <div style="border-top: 2px solid black; padding-top: 1px;">
            <span ng-if="pdfGenerator.cfg.showDate" class="pull-left" ng-bind="date"></span>
            <span class="pull-right" style="margin-right: 35px">{{ 'PDF_PAGE' | translate }}</span>
        </div>
    </div>

    <div ng-repeat="a in range(Math.ceil(tiling.mosaics.length)) track by $index">
        <div id="pdf-info-{{$index}}" style="background-color:#ffffff; width: 300px; max-width: 300px; display: none;">
            <div ng-repeat="mosaic in tiling.mosaics.slice($index, Math.min($index + 1, tiling.mosaics.length)) track by $index"  style="padding-bottom: 25px">

                <!-- Info table -->
                <table class="table pdf-table">
                    <tbody>
                        <tr style="background-color: #ddd">
                            <th style="text-align: left">{{ 'STOCK_PANEL' | translate }}</th>
                            <td ng-bind-html="getPanelInfo(mosaic)"></td>
                        </tr>
                        <tr ng-if="cfg.isMaterialEnabled">
                            <th style="text-align: left">{{ 'MATERIAL' | translate }}</th>
                            <td ng-bind-html="mosaic.material"></td>
                        </tr>
                        <tr ng-if="tiling.shouldGroupEqualMosaics">
                            <th style="text-align: left">{{ 'QUANTITY' | translate }}</th>
                            <td ng-bind-html="mosaic.ocurrences"></td>
                        </tr>
                        <!-- <tr>
                            <th style="text-align: left">{{ 'USED_AREA' | translate }}</th>
                            <td><span ng-bind="formatArea(mosaic.usedArea)"></span>&nbsp;<small ng-bind="Math.round(mosaic.usedAreaRatio * 100) + '%'"></small></td>
                        </tr>
                        <tr>
                            <th style="text-align: left">{{ 'WASTED_AREA' | translate }}</th>
                            <td><span ng-bind="formatArea(mosaic.wastedArea)"></span>&nbsp;<small ng-bind="Math.round((1.0 - mosaic.usedAreaRatio) * 100) + '%'"></small></td>
                        </tr>
                        <tr>
                            <th style="text-align: left">{{ 'CUTS' | translate }}</th>
                            <td ng-bind="mosaic.cuts.length"></td>
                        </tr>                                        <tr>
                            <th style="text-align: left">{{ 'CUT_LENGTH' | translate }}</th>
                            <td ng-bind="dimensionProcessor.formatDimension(mosaic.cutLength)"></td>
                        </tr> -->
                        <tr>
                            <th style="text-align: left">{{ 'PANELS' | translate }}</th>
                            <td ng-bind="mosaic.nbrFinalPanels"></td>
                        </tr>
                        <tr>
                            <th style="text-align: left">{{ 'WASTED_PANELS' | translate }}</th>
                            <td ng-bind="mosaic.realUnusedStockCount"></td>
                            <!-- (((d_tile.width * d_tile.height) >= ((1220*2440*$scope.cfg.unusedStockRatio)/100)) && !d_tile.hasChildren && !d_tile.final) -->
                        </tr>
                        <tr ng-if="cfg.hasEdgeBanding" ng-repeat="(key, value) in mosaic.edgeBands">
                            <th style="text-align: left">{{key}}</span></th>
                            <td ng-bind="dimensionProcessor.formatDimension(value)"></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Final panels -->
                <table class="table pdf-table" style="margin-top: 20px">
                    <thead>
                        <tr style="background-color: #ddd">
                            <th>{{ 'PANEL' | translate }}</th>
                            <th ng-if="cfg.isTileLabelVisible">{{ 'LABEL' | translate }}</th>
                            <th>{{ 'QUANTITY' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tile in mosaic.panels">
                            <td ng-bind-html="dimensionProcessor.formatPanelDimensionsHtml(tile)"></td>
                            <td ng-if="cfg.isTileLabelVisible"><span ng-bind="tile.label || '-'"></span></td>
                            <td><span ng-bind="tile.count"></span></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Cuts table -->
                <!-- <table ng-show="pdfGenerator.cfg.showCutsTable && mosaic.cuts.length > 0" class="table pdf-table" style="margin-top: 20px">
                    <thead>
                        <tr style="background-color: #ddd;">
                            <th>#</th>
                            <th>{{ 'PANEL' | translate }}</th>
                            <th>{{ 'CUT' | translate }}</th>
                           <th>{{ 'DIM' | translate }}</th>
                            <th style="padding-left: 0px;">{{ 'RESULT' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cut in mosaic.cuts track by $index">
                            <th style="padding-right: 6px; white-space: nowrap" ng-bind="$index + 1"></th>
                            <td style="padding-right: 6px; white-space: nowrap"><span ng-bind-html="dimensionProcessor.formatDimensionsHtml(cut.originalWidth, cut.originalHeight)"></span></td>
                            <td style="padding-right: 6px; white-space: nowrap"><span class="math" ng-bind="cut.horizontal ? 'x=' : 'y='"></span><span ng-bind="dimensionProcessor.formatDimension(cut.cutCoord, false)"></span></td>
                           <td ng-bind="dimensionProcessor.formatDimension(Math.max(cut.x2 - cut.x1, cut.y2 - cut.y1))"></td>
                            <td>
                                <div class="pull-left" style="max-width: 45%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-bind-html="generateCutResultChild1(cut, mosaic) | to_trusted"></div>
                                <div class="pull-left" style="max-width: 10%; color: #90a4ae">&nbsp;\&nbsp;</div>
                                <div class="pull-left" style="max-width: 45%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-bind-html="generateCutResultChild2(cut, mosaic) | to_trusted"></div>
                            </td>
                        </tr>
                    </tbody>
                </table> -->

            </div>
        </div>
    </div>
</div>
